.Container {
  height: 92vh;
  margin: 4vh 20vh 0 20vh;
  border-radius: 10px;
}

@media(max-width: 1400px) {
  .Container {
    margin: auto;
    height: 100vh;
    border-radius: 0px;
  }
}

.Section {
  display: flex;
  height: 100%;
}